body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 200;
    font-size: 42px;
    line-height: 50px;
    margin: 25px 0;
}

h2 {
    font-weight: 200;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0;
}

.rs-table-cell-content {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.rs-table-cell-header .rs-table-cell-content {
    padding: 4px;
    font-size: 12px;
    line-height: 1.66666667;
}